{% extends 'core/base.html' %}
{% load static %}

{% block title %}Artista | {{ artista.nome }}{% endblock %}

{% block content %}
    <section class="artista-detalhe">
        <div class="perfil">
            <img src="{% static artista.foto %}" alt="{{ artista.nome }}">
        </div>

        <div class="info">
            <h2>{{ artista.nome }}</h2>
            <p>{{ artista.bio }}</p>
            <p>Estilos: {% for e in artista.estilos %} {{ e }}{% if not forloop.last %},{% endif %} {% endfor %}</p>
            <a href="{{ artista.instagram }}" target="_blank">Instagram</a><br>
            <a class="btn-galeria" href="{{ artista.galeria_url }}">Ver trabalhos</a>
        </div>
    </section>
{% endblock %}