{% extends "core/base.html" %}

{% block title %}Contato | Skullface Tattoo{% endblock %}

{% block content %}

<section class="contato-container">

    <h1>Contato</h1>
    <p>Entre em contato conosco para agendar seu horário ou para tirar dúvidas sobre nossos serviços.</p>

    <div class="contato-cards">

        <!--WhatsApp-->
        <div class="contato-card">
            <h3>WhatsApp</h3>
            <p>Atendimento rápido</p>
            <a href="https://wa.me/5511988582267" target="_blank" class="btn-contato">WhatsApp</a>
        </div>

        <!--Instagram-->
        <div class="contato-card">
            <h3>Instagram</h3>
            <P>Veja nossos trabalhos</P>
            <a href="https://www.instagram.com/skullfacetattoo/" target="_blank" class="btn-contato">Instagram</a>
        </div>

        <!--endereço-->
        <div class="contato-card">
            <h3>Endereço</h3>
            <P>Rua Deputado Lacerda Franco, 180</P>
            <P>Bairro: Pinheiros - São Paulo - SP</P>
            <P>CEP: 05418-000</P>
            <P>Telefone: (11) 2924-1216/98858-2267</P>
            <a href="https://google.com/maps/place/R.+Deputado+Lacerda+Franco,+180+-+Pinheiros,+São Paulo+-+SP,+05418-000/@-23.5734515,-46.6836463,17z/data=!3m1!4b1!4m6!3m5!1s0x94ce5843d57c40c3:0x7b14dcc6a1f086e3!8m2!3d-23.5734515!4d-46.6814576!16s%2Fg%2F11c400zjzn?entry=ttu&g_ep=EgoyMDI2MDEyMi4wIKXMDSoASAFQAw%3D%3D"
             target="_blank" class="btn-contato">Ver no Google Maps</a>
        </div>

        <!--Horário de funcionamento-->
        <div class="contato-card">
            <h3>Horário de funcionamento</h3>
            <P>Segunda a Sexta-feira: 11:30 às 19:00</P>
            <P>Sábado: 11:00 às 17:00</P>
        </div>
    </div>
</section>

{% endblock %}