{% extends "core/base.html" %}

{% load static %}
{% block title %}Sobre | Skullface Tattoo{% endblock %}

{% block content %}
    <section class = "sobre-hero">
        <div class = "sobre-overlay"></div>
        <div class = "sobre-conteudo">
            <div class = "sobre-foto">
                <img src="/media/trabalhos/sobre.jpg" alt="Fundador da Skullface Tattoo" loading="lazy">
            </div>

            <div class = "sobre-texto">
                <h2>Nossa História?</h2>

                <p>
                    Olá, meu nome é Daniel mais conhecido como Doug. Sou tatuador e fundador da Skullface Tattoo.
                    Atuo como tatuador desde o ano 2000, mas minha trajetória no universo da tatuagem começou em 1996.
                    Ao longo desses anos, trabalhei em divérsos estúdios e explorei diversos estilos, adquirindo
                    experiência, técnica e uma visão ampla de mercado.
                    Sempre tive o sonho de construir um estúdio próprio, onde pudesse unir identidade, qualidade e excelência
                    em cada detalhe.Em 2015, esse sonho se tornou realidade com a fundação da Skullface Tattoo,um estudio de tatuagem e piercing 
                    criado para ofercer um atendimento profissional, seguro,artistico e acolhedor.
                    Desde então, a Skullface Tattoo vem se consolidando como refêrencia em São Paulo, reconhecida pela qualidade
                    dos trabalhos, pelo compromisso pela segurança e pelo respeito a cada cliente.
                </p>
            </div>
        </div>
    </section>
  {% endblock %}