<section id="contato" class="contato-box">
    <h2>Fale conosco</h2>
    <p>Estamos localizados no coração da cidade, venha nos visitar e conhecer nosso trabalho.</p>
    <div class="contato-info">
        <p><strong>Endereço:</strong> <a href="https://www.google.com/maps/place/R.+Deputado+Lacerda+Franco,+180+-+Pinheiros,+São+Paulo+-+SP,+05418-000/@-23.5734515,-46.6836463,17z/data=!3m1!4b1!4m6!3m5!1s0x94ce5843d57c40c3:0x7b14dcc6a1f086e3!8m2!3d-23.5734515!4d-46.6814576!16s%2Fg%2F11c400zjzn?entry=ttu" target="_blank" rel="noopener noreferrer">Rua Deputado Lacerda Franco, 180 - Pinheiros - São Paulo/SP</a></p>
        <p><strong>Telefone:</strong> <a href="tel:+5511988582267">(11) 98858-2267</a></p>
        <p><strong>Instagram:</strong> <a href="https://www.instagram.com/skullfacetattoo/" target="_blank" rel="noopener noreferrer">@skullface.tattoo</a></p>
        <p><strong>Facebook:</strong> <a href="https://www.facebook.com/SkullFaceTattoos" target="_blank" rel="noopener noreferrer">SkullFaceTattoos</a></p>
        <p><strong>Email:</strong> <a href="mailto:contato@skullface.com.br">contato@skullface.com.br</a></p>
    </div>
</section>