<!--HERO / capa-->
<section id="home" class="hero-section">
    <div class="hero-hover">

        <div class="hero-overlay"></div>

        <!--Camada de eletricidade-->
        <div class="electric-layer"></div>

        <!--Camada de faíscas-->
        <div class="sparks"></div>

        <!--Camada de relâmpagos-->
        <div class="lightning"></div>

        <!--Pisca rápido como relâmpagos-->
        <div class="flash"></div>

        <!-- flash de luz na tela-->
        <div class="light-flash"></div>

        


        <div class="hero-content">
            <h1>Skullface Tattoo Studio</h1>
            <p>Arte na pele. Identidade pra vida.</p>
            </div>
</section>